    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/index.html" class="navbar-brand">Epigenomics Tools</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="goldmine">Goldmine: Epigenomic Context<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="/goldmine">About</a></li>
                <li><a href="/goldmine/docs">Documentation</a></li>
                <li><a href="http://github.com/jeffbhasin/goldmine" target="_blank">Source Code on GitHub</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="methylaction">Methylaction: DMR Detection<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="/methylaction">About</a></li>
                <li><a href="/methylaction/docs">Documentation</a></li>
                <li><a href="http://github.com/jeffbhasin/methylaction" target="_blank">Source Code on GitHub</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://www.lerner.ccf.org/gmi/ting/" target="_blank">Ting Lab</a></li>
          </ul>

        </div>
      </div>
    </div>